global
  quiet

defaults
  mode http
  maxconn 5000

  timeout connect 5s
  timeout client  20s
  timeout server  20s

frontend public
  bind *:8080
  default_backend apps

backend apps
  server flask1 flask001:5000 check
  server flask2 flask002:5000 check

